/**********************
    GENERAL STYLES 
**********************/
body {
	background-color: #282827;
}

#wrapper {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background: white;
}

.line {
    border-top: 1px
    solid #585858;
}

#content {
    width: 100%;
    height: 850px;
}

.hr {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 940px;
}

.hr2 {
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 940px;
}

p {
	font-family: 'Raleway', cursive;
	font-weight: 500;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: #000;
}

h3 {
	font-family: 'Indie Flower', cursive;
}

h2 a:link {
    color: #000;
}

/**********************
   SECTION: Header
**********************/
header {
	height: 120px;
	padding-bottom: 30px;
}

nav {
	margin-top: -170px;
	text-align: right;
	padding: 60px 0 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav a:visited {
	color: black;
}

nav a:hover {
	color: green;
}

nav a.selected {
	color: red;
}

/**********************
    PAGE: Homepage
**********************/
#WebDev, 
#CompRepairs,
#MobRepairs,
#Shop {
	float : left;
	width : 23%;
	margin : 1%;
	background-color: #fff;
	color: #000;
	text-align: center;
	height: 100%;
	position: relative;
}

#WebDev ul, 
#CompRepairs ul,
#MobRepairs ul,
#Shop ul {
	margin: 0;
	padding: 0;
}

#WebDev li, 
#CompRepairs li,
#MobRepairs li,
#Shop li {
	list-style-type: none;
	text-align: center;
}

#WebDev a, 
#CompRepairs a,
#MobRepairs a,
#Shop a {
	text-decoration: none;
}

.viewButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	position:absolute;
	right: -5%;
	bottom: -40px;
	margin:0 auto;
	width:100%;
}

.viewButton a{
	color: #fff;
}

.viewButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}

/**********************
   SECTION: Web Dev
**********************/
#WebDev img,
#CompRepairs img,
#MobRepairs img,
#Shop img  {
	width: 100%;
	height: auto;
}

/**********************
   SECTION: Footer
**********************/
#footer {
	width: 100%;
	margin-top: 20px;
	padding-bottom: 10px;
}

#footer a {
	text-decoration: none;
	color: black;
}

#footer a:visited {
	color: black;
}

#footer a:hover {
	color: red;
}

.icons {
	height: 30px;
	width: 30px;
	margin-left: 10px;
	margin-right: 5px;
}